.vscode
.vscodeold
.env
*.json
*.dat
*.txt

target/

scripts/*
!scripts/*.py
!scripts/hevents.txt
!scripts/build-include
!scripts/build-include/*

Cargo.lock

libclang.dll
!features.json
node_modules
