.small-margin {
    margin: 10px auto auto auto;
}

.bottom-button {
    margin: 10px auto auto auto;
    display: block;
}

.bottom-margin {
    margin-bottom: 6px;
}

.form-div {
    margin: 20px auto auto auto;
    display: block;
}

.auto-margin {
    margin: auto
}

.logo-image {
    margin: 30px auto auto auto;
    width: 75%;
    display: block;
}

/* Network Stats */
.network-left {
    display: block;
    float: left;
    width: 50%
}

.network-right {
    display: block;
    float: right;
    width: 50%
}

/* Connection list */
.entry-button {
    float: right;
    margin-left: 1%;
    margin-right: 1%;
}

.entry-text-observe {
    color: grey
}

.entry-text-in-control {
    color: lightseagreen
}

.rectangle {
    background-color: grey;
    width: 15px;
    height: 15px;
    float: right;
    margin-top: 2px;
}

.filler {
    margin-top: 5px;
    margin-bottom: 5px;
}

.alert {
    margin: 5px;
}

#version-alert {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#version-alert-button {
    margin: 10px;
    margin-top: 0;
    margin-bottom: 0;
}

.spacer {
    height: 10px;
}

#enable-log-help {
    margin: 0;
}

/* .logo-image{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    margin-left: auto;
    margin-right: auto;
    height: 20vh;
} */
body {
    overflow-x: hidden;
    padding-right: 25px;
}

.card {
    height: 100%;
    width: 100%;
    margin: 5px;
}

.checkbox-text {
    margin-top: -10px
}