.alert-margin { 
    margin: 8px auto 8px;
}

.small-margin {
    margin: 10px auto auto auto;
}

.bottom-button {
    margin: 10px auto auto auto;
    display: block;
}

.form-div {
    margin: 20px auto auto auto;
    display: block;
}

.auto-margin {
    margin: auto
}

.logo-image {
    margin: 30px auto auto auto;
    width: 75%;
    display: block;
}

/* Connection list */
.entry-button {
    float: right;
    margin-left: 1%;
    margin-right: 1%;
}

.entry-text-observe {
    color: grey
}

.entry-text-in-control {
    color: lightseagreen
}