.small-margin {
    margin: 10px auto auto auto;
}

.bottom-button {
    margin: 10px auto auto auto;
    display: block;
}

.form-div {
    margin: 20px auto auto auto;
    display: block;
}

.auto-margin {
    margin: auto
}