.top-image {
    width: 95%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    display: block;
}
.input-ip {
    margin-top: 10px
}

.form-div {
    margin: 20px auto auto auto;
    display: block;
}

.nav-button {
    display: inline;
}